.crossing-line{
    height: 5px;
    width: 320px;
    background-color: green;
    position: absolute;
}

.onefivenine{
    transform: rotate(45deg);
}

.onetwothree{
    transform: translateY(-90px);
}

.seveneightnine{
    transform: translateY(+90px);
}

.threefiveseven{
    transform: rotate(-45deg);
}

.onefourseven{
    transform: rotate(90deg);
    margin-left: -190px;
}

.twofiveeight{
    transform: rotate(90deg);
}

.threesixnine{
    transform: rotate(90deg);
    margin-left: 190px;
}